body {
  background-color: lavender;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content-box {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: auto;
  justify-content: space-between;
}

.toggle-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.toggle-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.toggle-buttons button.active {
  background-color: lavender;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px; /* Reduce margin for a tighter look */
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 4px; /* Reduce padding for a tighter look */
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px; /* Reduce font size for a tighter look */
  overflow: hidden;
}

button[type="submit"] {
  background-color: purple;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #6a0dad;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}
